<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>THis form</h1>
    <form action="/profile" method="post" enctype="multipart/form-data">
      <input type="text" name="fullname">
        <input type="file" name="avatar"  />
        <input type="file" name="photos"  multiple/>
        <button type="submit">click</button>
      </form>
      
      
      <!-- <script>
        document.querySelector("form").addEventListener('submit',(event)=>{
event.preventDefault()
        })
      </script> -->
</body>
</html>